# Server Configuration
PORT=4000
JWT_SECRET=your_jwt_secret_here

# Database (Prisma)
# Example: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="file:./dev.db"

# Google Earth Engine (GEE)
EE_CLIENT_EMAIL=your-service-account-email@project.iam.gserviceaccount.com
EE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Hugging Face (Optional if using direct client)
HF_TOKEN=your_huggingface_token
